/*COULEURS*/
$blue: #3282f7;
$green: #68d9a4;
$red: #ed6454;

* {
  font-family: "Lato", sans-serif;
}
body {
  margin: 40px 100px;
}
header {
  display: flex;
  justify-content: center;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  li {
    width: 100%;
  }
}

p,
h3 {
  margin: 0;
}

button {
  border: none;
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  height: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;
  &:hover {
    color: black;
    cursor: pointer;
  }
}

#logo {
  margin-bottom: 17px;
}

/*SEARCHBAR*/
#searchbarContainer {
  display: flex;
  align-items: center;
  i {
    position: absolute;
    right: 120px;
    font-size: 32px;
  }
}

#searchbar {
  width: 100%;
  height: 69px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  font-size: 18px;
  padding: 0 20px;
  &::placeholder {
    color: black;
    opacity: 0.25;
  }
  &:focus {
    outline: none;
  }
}
/* SECTION TAGS */
#tags {
  margin-top: 1em;
}

.buttonsTag {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 0.5rem;
  &Ingredients {
    background-color: $blue;
  }
  &Appareils {
    background-color: $green;
  }
  &Ustensiles {
    background-color: $red;
  }
}

.close {
  margin-left: 1em;
  transition: transform 0.6s;
  &:hover {
    transform: rotate(180deg);
  }
}

/*SECTION RECETTES*/

.recette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 4%;
  margin-top: 9em;
  &Empty {
    width: 1000px;
  }
  &Article {
    height: 375px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    &:hover {
      box-shadow: 0 0 26px #00000048;
    }
  }
  &Img {
    background-color: #d4f5fd;
    height: 178px;
    border-radius: 5px 5px 0px 0px;
  }
  &Text {
    padding: 20px;
    height: 186px;
    &Title {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      &Time {
        font-weight: bold;
      }
    }
    &Details {
      height: 124px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      &Ingredients {
        width: 50%;
        font-size: 12px;
      }
      &Description {
        font-family: "Roboto", sans-serif;
        width: 50%;
        height: 99px;
        font-size: 12px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
      }
    }
  }
}

.ingredient {
  font-weight: bold;
}
.quantity {
  font-weight: 500;
}

/*SEARCH LIST */
.List {
  display: flex;
  margin-top: 1em;
  position: absolute;
}

.searchList {
  min-width: 170px;
  box-sizing: border-box;
  padding: 10px 19px;
  border-radius: 5px;
  height: 80%;

  & ul {
    display: none;
  }
  &Text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &Input {
      display: none;
      border: none;
      height: 45px;
      width: 100%;
      font-weight: bold;
      font-size: 18px;
      color: white;
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
      &:focus {
        outline: none;
      }
    }
    &Name {
      font-weight: bold;
      font-size: 18px;
      color: white;
      line-height: 47px;
    }
  }
}

/*DROPDOWN MENUS */
#ingredients {
  background-color: $blue;
  &List {
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    max-height: calc(10 * 1.6rem + 0.5rem + 1.25rem);
  }
  &Search {
    background-color: $blue;
  }
  & button {
    background-color: $blue;
    height: 100%;
    width: 100%;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#appareils {
  background-color: $green;
  margin: 0 20px;
  &List {
    grid-template-rows: repeat(12, auto);
    grid-template-columns: repeat(2, minmax(auto, 50%));
    grid-auto-flow: column;
  }
  &Search {
    background-color: $green;
  }
  & button {
    background-color: $green;
  }
}

#ustensiles {
  background-color: $red;
  &List {
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(2, minmax(auto, 50%));
    grid-auto-flow: column;
  }
  &Search {
    background-color: $red;
  }
  & button {
    background-color: $red;
  }
}

.arrow {
  color: white;
}
