/*COULEURS*/
* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 40px 100px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-grid-rows: (auto)[10];
      grid-template-rows: repeat(10, auto);
  -ms-grid-columns: (minmax(auto, 50%))[2];
      grid-template-columns: repeat(2, minmax(auto, 50%));
  grid-auto-flow: column;
}

p,
h3 {
  margin: 0;
}

button {
  border: none;
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  height: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;
}

button:hover {
  color: black;
}

#logo {
  margin-bottom: 17px;
}

/*SEARCHBAR*/
#searchbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchbarContainer i {
  position: absolute;
  right: 120px;
  font-size: 32px;
}

#searchbar {
  width: 100%;
  height: 69px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  font-size: 18px;
  padding: 0 20px;
}

#searchbar::-webkit-input-placeholder {
  color: black;
  opacity: 0.25;
}

#searchbar:-ms-input-placeholder {
  color: black;
  opacity: 0.25;
}

#searchbar::-ms-input-placeholder {
  color: black;
  opacity: 0.25;
}

#searchbar::placeholder {
  color: black;
  opacity: 0.25;
}

#searchbar:focus {
  outline: none;
}

/*SECTION RECETTES*/
#empty {
  display: none;
}

.recette {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 4%;
  margin-top: 25px;
}

.recetteArticle {
  height: 375px;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.recetteImg {
  background-color: #c7bebe;
  height: 178px;
  border-radius: 5px 5px 0px 0px;
}

.recetteText {
  padding: 20px;
  height: 186px;
}

.recetteTextTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.recetteTextTitleTime {
  font-weight: bold;
}

.recetteTextDetails {
  height: 124px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recetteTextDetailsIngredients {
  width: 50%;
  font-size: 12px;
}

.recetteTextDetailsDescription {
  font-family: "Roboto", sans-serif;
  width: 50%;
  height: 99px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.ingredient {
  font-weight: bold;
}

.quantity {
  font-weight: 500;
}

/*SEARCH LIST */
.List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.searchList {
  min-width: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 19px;
  border-radius: 5px;
  height: 80%;
}

.searchList ul {
  display: none;
}

.searchListText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchListTextInput {
  display: none;
  border: none;
  height: 45px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.searchListTextInput::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.searchListTextInput:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.searchListTextInput::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.searchListTextInput::placeholder {
  color: white;
  opacity: 0.5;
}

.searchListTextInput:focus {
  outline: none;
}

.searchListTextName {
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 47px;
}

/*DROPDOWN MENUS */
#ingredients {
  background-color: #3282f7;
}

#ingredientsSearch {
  background-color: #3282f7;
}

#ingredients button {
  background-color: #3282f7;
}

#appareils {
  background-color: #68d9a4;
  margin: 0 20px;
}

#appareilsSearch {
  background-color: #68d9a4;
}

#appareils button {
  background-color: #68d9a4;
}

#ustensiles {
  background-color: #ed6454;
}

#ustensilesSearch {
  background-color: #ed6454;
}

#ustensiles button {
  background-color: #ed6454;
}

.arrow {
  color: white;
}
/*# sourceMappingURL=style.css.map */